@{
    ViewBag.Title = "Home Page";
}

    <body>

        <h2 style="text-align: center"> <a href="~/Menu/Index">Kliknij tutaj</a> aby przejść do Menu </h2>
        <center>
            <img src="~/Images/tlo.jpg" />
        </center>




    </body>

<style>
    img{
        text-align:center;
        width:1000px;
        height:500px;
    }
</style>